@import url('/css/fonts.css');
@import url('/css/scrollBar.css');

/* ADMIN PRIVILEGES */

#create-post-button {
    display: block;
    margin: auto;
    width: 80%;
    background-color: #006b3b;
    color: white;
    font-family: 'ProductSansBold';
    font-size: 1.5vmax;
    border-radius: 0.5vmax;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 0.5rem;
}

.modal-content {
    background-color: #d9d9d9;
    padding-left: 3%;
    padding-right: 3%;
    overflow: auto;
}

#modal-content-create-post {
    height: 31vmax;
}

.modal-title {
    font-family: 'ProductSansBold';
}

#post-text-area, .post-text-fields {
    width: 100%;
    font-family: 'ProductSansRegular';
    font-size: 0.75vmax;
    border: none;
    border-radius: 5px;
    padding-left: 2%;
    padding-right: 2%;
}

#post-text-area {
    overflow: auto;
    height: 10vmax;
}

.modal-header {
    border-bottom: 2px solid white;
    margin-left: 2%;
    margin-right: 2%;
}

.modal-footer {
    border-top: 2px solid white;
    margin-left: 2%;
    margin-right: 2%;
}

#tags-div, #link-div, #file-div {
    border: 2px solid #A2A2A2;
    border-radius: 1vmax;
    margin-top: 1%;
    padding: 2%;
    font-family: 'ProductSansRegular';
}

#tag-text {
     font-size: 1.25vmax;
     font-family: 'ProductSansRegular';
     margin-bottom: 1%;
}

.save-button {
    background-color: #0b5ed7;
    width: 100%;
    font-family: 'ProductSansRegular';
    color: white;
    border-radius: 0.5vmax;
    padding: 1%;
}

#add-tag, #input-map, #add-links, #add-file {
    height: 2vmax;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#add-file input {
    height: 2vmax;
    font-size: 0.75vmax;
}

#add-tag input, #input-map input, #add-links input, #add-file input {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#add-tag button, #input-map button, #add-links button, #add-file button {
    background-color: green;
    font-size: 0.75vmax;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 3%;
    padding-right: 3%;
    height: 2vmax;
}

#file-text-field {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

.tag-buttons, .media-tag-buttons {
    margin-top: 1%;
    display: inline-block;
}

.remove-tag {
    height: 1.25vmax;
    width: 1.25vmax;
    border-radius: 50%;
    background-color: #9b2f2f;
    font-size: 0.75vmax;
    color: white;
    font-family: 'ProductSansItalic';
    justify-content: center;
    align-items: center;
    margin-left: 0.25vmax;
}

/* LAT - LNG TEXTFIELDS */

#latitude-text-field-hidden {
    display: none;
}

#longtitude-text-field-hidden {
    display: none;
}

/* MEDIA-CONTROL */

#media-control {
    border: 2px solid #A2A2A2;
    border-radius: 1vmax;
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 100%;
    margin-top: 2%;
}

#media-control-text {
    display: block;
    margin: auto;
    width: 50%;
    padding: 1%;
    padding-left: 2%;
    font-size: 1.20vmax;
    font-family: 'ProductSansRegular';
}

#media-control-buttons {
    display: block;
    margin: auto;
    width: 50%;
    padding: 1%;

}

.media-button {
    background: none;
    border-radius: 50%;
    font-size: 1.25vmax;
    margin-left: 1%;
    margin-right: 1%;
    height: 2.75vmax;
    width: 2.75vmax;
}

.media-button:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.media-button.active {
    background-color: rgba(0, 0, 0, 0.5);
}

.media-button:nth-child(1) {
    color: #58c472;
}

.media-button:nth-child(2) {
    color: #3085f3;
}

.media-button:nth-child(3) {
    color: #f66551;
}

.media-button:nth-child(4) {
    color: #e8be4c;
}

#display-map-post {
    margin-top: 2%;
    border: 2px solid #A2A2A2;
    border-radius: 1vmax;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}

#map-result {
    height: 20rem;
    width: 100%;
    border-radius: 1vmax;
}

#map-header {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    margin-bottom: 0.5rem;
}

#map-header-text {
    width: 50%;
    font-size: 1.25vmax;
    font-family: 'ProductSansRegular';
    display: block;
    margin: auto;
    padding-left: 2%;
    padding-right: 2%;
}

#map-header-close {
    width: 50%;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 80%;
}

#remove-map {
    height: 1.5vmax;
    width: 1.5vmax;
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 0.75vmax;
    display: block;
    margin: auto;
}

/* MAP MODAL */

#display-map-search {
    margin-top: 2%;
    height: 20rem;
    width: 100%;
    border: 1px solid  black;
    border-radius: 1vmax;
}

/* THUMBNAILS */
.thumbnail-holder {
    margin-top: 0.5vmax;
}

.thumbnail-holder img {
    height: 20vmax;
    width: 100%;
    object-fit: cover;
    border-radius: 1vmax;
}

.thumbnail-images-div {
    display: flex;
    flex-direction: row;
}

.half-div {
    width: 50%;
    padding: 0.5%;
    display: flex;
    flex-direction: column;
}

.tranche-div {
    height: 50%;
    padding-left: 0.5%;
    padding-right: 0.5%;
}

.tranche-div:nth-child(odd) {
    padding-bottom: 0.5vmax;
}

.tranche-div img {
    height: 9.75vmax;
}

/* POST MODAL THUMBNAILS */

#post-thumbnails {
    width: 100%;
    border: 2px solid #A2A2A2;
    border-radius: 1vmax;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    padding: 2%;
}

#thumbnail-header {
    height: 2vmax;
    width: 100%;
    display: flex;
    flex-direction: row; 
}

#thumbnail-header-text {
    width: 50%;
    padding-left: 2%;
    font-size: 1.25vmax;
    font-family: 'ProductSansRegular';
}

#thumbnail-header-close {
    width: 50%;
    margin-left: 80%;
}

#remove-thumbnail {
    height: 1.5vmax;
    width: 1.5vmax;
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 0.75vmax;
    display: block;
    margin: auto;
}