.post-holder {
    background-color: white;
    width: 80%;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    border-radius: 1rem;
}

.post-holder img, video {
    object-fit: cover;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    border-radius: 1rem;
}

.post-profile {
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    height: 2.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
}

.profile-text-content {
    padding-left: 1%;
}

.profile-text-content {
    max-width: auto;
    max-height: auto;
}

.profile-name-link-holder {
    text-decoration: none;
    color: black;
}

.profile-text-content .profile-name {
    font-size: 0.75rem;
    font-family: 'ProductSansBold';
}

.profile-text-content .date-time {
    font-size: 0.5rem;
    font-family: 'ProductSansRegular';
    margin-top: -1rem;
}

.post-text {
    font-family: 'SegoeUIRegular';
    padding-left: 3%;
    padding-right: 3%;
}

.post-text p {
    font-size: 0.85rem;
}

.media-holder, .custom-container {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.container {
    padding-left: 2%;
    padding-right: 2%;
}

.small-media-2, .small-media-4, .medium-media {
    display: flex;
    justify-content: space-between;
    object-fit: cover;
}

/* [START] 2 IMAGES*/

.medium-media {
    flex-direction: row;
}

.medium-media img, .medium-media video {
    width: 100%;
    height: 100%;
}

/* [END] 2 IMAGES*/

/* [START] 3 IMAGES*/

.big-media {
    height: 25vmax;
    width: 100%;
    object-fit: cover;
}

.small-media-2 {
    flex-direction: column;
}

.small-media-2 img, .small-media-2 video {
    width: 100%;
    height: 12.25vmax;
}

/* [END] 3 IMAGES*/

/* [START] 4 IMAGES*/

.container-4 {
  display: flex;
  flex-direction: row;
}

.row {
  display: flex;
  flex-direction: column;
}

.col {
    flex: 1;
}

.col img, .col video {
    width: 100%;
    height: 15vmax;
}

/* [END] 4 IMAGES*/

/* THREADS */

.thread-divider {
    width: 95%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}

.media-div {
    position: relative;
}

.media-div i {
    color: white;
    font-size: 4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* MAP */

.map-div {
    padding-left: 3%;
    padding-right: 3%;
    height: 20rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.map-text {
    font-family: 'ProductSansBold';
    font-size: 2rem;
}

.map-holder {
    height: 15rem;
    border-radius: 1rem;
    border: 2.5px solid black;
}

/* TAGS */
.tag-div {
    padding-left: 3%;
    padding-right: 3%;
    margin-bottom: 0.5rem;
}

.tag-text-holder {
    margin-bottom: -0.75rem;
}

.tag-button {
    font-size: 0.75rem;
    padding-top: 0.5vmax;
    padding-bottom: 0.5vmax;
    padding-left: 0.75vmax;
    padding-right: 0.75vmax;
    border-radius: 1vmax;
    font-family: 'ProductSansItalic';
    color: white;
    background-color: #006b3b;
    margin-left: 0.125vmax;
    margin-right: 0.125vmax;
    margin-top: 0.125vmax;
    margin-bottom: 0.125vmax;
}

.tag-text {
    font-family: 'ProductSansBold';
    font-size: 2rem;
}


