@import url('/css/fonts.css');
@import url('/css/generatePost.css');
@import url('/css/sideNavbar.css');

html {
    background-color: #d9d9d9;
}

body {
    background-color: #d9d9d9;
}

.navbar-custom{
    background-color: #006B3B;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.siteLogo {
    height: 5rem;
}

.btn-custom {
    background-color: #961313;
}

.btn-custom:hover {
    background-color: #961313;
}

.search-icon {
    height: 1rem;
}

input:placeholder-shown {
   font-style: italic;
}

#profile-background {
    background-color: #9b2f2f;
    height: 31.5rem;
    width: auto;
}

#cover-photo {
    max-width: 70rem;
    max-height: 20rem;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

#profile {
    width: 70rem;
    height: 7rem;
}

#profile-picture {
    height: 10rem;
    width: 10rem;
    object-fit: fill;
    border-radius: 50%;
    position: relative;
    bottom: 3rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    float: left;
}

#profile-details {
    padding-top: 0.5rem;
    padding-left: 12rem;
}

#profile-details p {
    margin-bottom: 0;
    color: white;
}

#profile-details #page-name {
    font-size: 3vmin;
    font-family: 'ProductSansBold';
}

#profile-details #classification {
    font-size: 2vmin;
    font-family: 'ProductSansBoldItalic';
}

#profile-divider {
    height: 1rem;
    width: 70rem;
}

#profile-divider hr{
    margin-left: 1rem;
    margin-right: 1rem;
    border: 0.10rem solid white;
}

#navbar-profile-options {
    width: 70rem;
    padding-left: 1rem;
    overflow: hidden;
}

.nav-item {
    margin-left: 1rem;
    margin-right: 1rem;
}

.nav-item a {
    font-size: 1.75vmin;
    font-family: 'ProductSansRegular';
    color: white;
}

#navbar-profile-options a {
    text-decoration: none;
    border-bottom: 2px solid transparent;
    padding-bottom: 0.25rem;
}

#navbar-profile-options a:hover {
    color: white;
    border-bottom: 2px solid white;
}

#navbar-profile-options a.active {
    color: white;
    border-bottom: 2px solid white;
}



   












