@import url('/css/fonts.css');

body {
    background-color: #d9d9d9;
}

.navbar-custom{
    background-color: #006B3B;
}

.siteLogo {
    height: 5rem;
}

.btn-custom {
    background-color: #961313;
}

.btn-custom:hover {
    background-color: #961313;
}

.searchIcon {
    height: 1rem;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

input:placeholder-shown {
   font-style: italic;
}

#profileBackground {
    background-color: #9b2f2f;
    height: 31.5rem;
    width: auto;
}

#coverPhoto {
    max-width: 70rem;
    max-height: 20rem;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

#profile {
    width: 70rem;
    height: 7rem;
}

#profilePicture {
    height: 10rem;
    width: 10rem;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
    bottom: 3rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

#profileDetails {
    position: relative;
    left: 12rem;
    bottom: 9.5rem;
    max-width: 50vmax;
}

#profileDetails p {
    margin-bottom: 0;
    color: white;
}

#profileDetails #pageName {
    font-size: 3vmin;
    font-family: 'ProductSansBold';
}

#profileDetails #classification {
    font-size: 2vmin;
    font-family: 'ProductSansBoldItalic';
}

#profileDivider {
    height: 1rem;
    width: 70rem;
}

#profileDivider hr{
    margin-left: 1rem;
    margin-right: 1rem;
    border: 0.10rem solid white;
}

#navbarProfileOptions {
    width: 70rem;
    padding-left: 1rem;
}

.nav-item {
    margin-left: 1rem;
    margin-right: 1rem;
}

.nav-item a {
    font-size: 1.75vmin;
    font-family: 'ProductSansRegular';
    color: white;
}

#navbarProfileOptions {
    overflow: hidden;
}

#navbarProfileOptions a {
    text-decoration: none;
    border-bottom: 2px solid transparent;
    padding-bottom: 0.25rem;
}

#navbarProfileOptions a:hover {
    color: white;
    border-bottom: 2px solid white;
}

#navbarProfileOptions a.active {
    color: white;
    border-bottom: 2px solid white;
}

#post-holder {
    background-color: orange;
    width: 70%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 1rem;
}

#post-holder img {
    object-fit: cover;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    border-radius: 1rem;
}

.post-profile {
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
}

.post-profile img {
    height: 10%;
    width: 10%;
}

.profile-text-content {
    padding-left: 2%;
    padding-top: 1.3%   ;
    margin-top: 0.25%;
}

.profile-text-content .profile-name {
    font-size: 2vmin;
    font-family: 'ProductSansBold';
}

.profile-text-content .date-time {
    font-size: 1.25vmin;
    font-family: 'SegoeUIRegular';
    margin-top: -1rem;
}

.post-text {
    font-family: 'SegoeUIRegular';
    padding-left: 7%;
    padding-right: 6%;
}

.post-text p {
    font-size: 1.5vmin;
}

.big-image {
    height: 100%;
    width: 100%;
    max-width: 25rem;
    object-fit: cover;
}

.small-images-2, .small-images-4, .medium-images {
    display: flex;
    justify-content: space-between;
    object-fit: cover;
}

.small-images-2 {
    flex-direction: column;
}

.medium-images {
    flex-direction: row;
}

.small-images-2 img {
    width: 100%;
    height: 100%;
    max-width: 25rem;
}

.medium-images img {
    width: 100%;
    height: 100%;
    max-width: 25rem;
}

.container-4 {
  display: flex;
  flex-direction: row;
}

.row {
  display: flex;
  flex-direction: column;
}

.col {
  flex: 1;
}

.col img {
  width: 100%;
  height: 100%;
  max-width: 25rem;
}




   












