@import url('/css/fonts.css');
@import url('/css/scrollBar.css');
@import url('/css/navBar.css');
@import url('/css/generatePost.css');
@import url('/css/sideNavbar.css');
@import url('/css/navBarSectionDivider.css');

html {
    background-color: #d9d9d9;
}

body {
    background-color: #d9d9d9;
}

img {
    object-fit: cover;
}

main {
    position: relative;
    top: 4.5vmax;
}

#main-content-holder {
    margin-top: 1.25rem;
}

#selection-holder {
    background-color: white;
    padding-top: 0.25rem;
    padding-bottom: 0.5rem;
    border-radius: 0.75vmax;
    width: 80%;
    display: block;
    margin: auto;
    margin-bottom: 1rem;
}

/* NAVBARSECTION DIVIDER OVERRIDE */

.nav-item a {
    color: black !important;
    font-family: 'ProductSansBold';
}

#navbar-profile-options {
    width: auto !important;
    padding-left: 0 !important;
}

.nav-item:nth-child(odd) {
    padding-left: 1vmax;
    padding-right: 1vmax;
}

.nav-item:nth-child(even) {
    padding-left: 7vmax;
    padding-right: 7vmax;
}

#navbar-profile-options a:hover {
    color: black !important;
    border-bottom: 2px solid black !important;
}

#navbar-profile-options a.active {
    color: black !important;
    border-bottom: 2px solid black !important;
}

/* PROFILE */

#profile {
    background-color: white;
    border-radius: 0.75vmax;
    width: 80%;
    display: block;
    margin: auto;
    margin-bottom: 2%;
}

#profile-pages-holder {
    width: 70vmax;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}

#profile-pages-holder img {
    width: 80%;
}

.profile-text {
    margin-top: 0.5rem;
}

.profile-text p {
    text-align: left;
    font-family: 'ProductSansBold';
    font-size: 2.25vmax;
}

#profile-results-holder {
    padding-bottom: 0rem;
    display: flex;
    flex-direction: row;
    margin-top: 0.15rem;
}

#profile-results-holder img {
    height: 100%;
    width: 100%;
    max-height: 4rem;
    max-width: 4rem;
}

.profile-result-text {
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
}

.profile-result-text a {
    color: black;
    text-decoration: none;
}

.profile-title {
    font-family: 'ProductSansBold';
    font-size: 1.25vmax;
    margin-bottom: 0rem;
}

.profile-category {
    font-family: 'ProductSansRegular';
    font-size: 0.75vmax;
    font-style: italic;
    margin-bottom: 0.10rem;
}

.profile-description {
    font-size: 0.5vmax;
    font-family: 'ProductSansRegular';
}


