@import url('/css/fonts.css');
@import url('/css/scrollBar.css');
@import url('/css/navBar.css');
@import url('/css/generatePost.css');
@import url('/css/sideNavbar.css');

html {
    background-color: #d9d9d9;
}

body {
    background-color: #d9d9d9;
}

#posts {
    margin-top: 5vmax;
}

#header-div {
    padding-left: 3%;
    padding-right: 3%;
    display: flex;
    margin-bottom: 2%;
    height: 4vmax;
}

#thread-text {
    font-family: 'ProductSansBold';
    font-size: 2.5vmax;
    display: block;
    margin-left: 2%;
    margin-top: auto;
    margin-bottom: auto;
}

#back-button {
    background-color: white;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

.fa-arrow-left {
    font-size: 1.5vmax;
}