@import url('/css/fonts.css');
@import url('/css/scrollBar.css');
@import url('/css/navBar.css');

html {
    background-color: #d9d9d9;
}

body {
    background-color: #d9d9d9;
}

/* TABS */

#tabbed-panel {
    padding-top: 7vmax;
}

.nav-item .nav-link {
    padding-top: 3%;
    padding-bottom: 3%;
    font-family: 'ProductSansBold';
    font-size: 1.75vmax;
    background-color: #8d8484;
    color: white;
    border: none;
}

.nav-item .nav-link.active {
    background-color: #443f3f;
    color: white;
}

#register {
    background-color: #b4b0b0;
    width: 100%;
}

label {
    font-family: 'ProductSansRegular';
    font-size: 1vmax;
    margin-top: 0.5vmax;
    margin-bottom: 0.5vmax;
}

hr {
    width: 95%;
    border: 0.10vmax solid black;
}

input, textarea, select {
    border-radius: 0.25vmax;
    border: none;
    padding: 2%;
    font-family: 'ProductSansRegular';
}

input {
    width: 95%;
    height: 3rem;
}

select {
    width: 90%;
    height: 3rem;
}

textarea {
    width: 95%;
    height: 15rem;
    overflow: auto;
}

#register-account-contents {
    padding-top: 1vmax;
    padding-bottom: 1vmax;
    margin-bottom: 1vmax;
}

.category-title {
    font-family: 'ProductSansBold';
    font-size: 2vmax;
}

#credentials {
    margin-bottom: 1vmax;
}

#profile-information, #profile-contacts, #profile-socials {
    margin-top: 1vmax;
}

#classification-selection {
    display: flex;
    flex-direction: row;
}

#classification {
    width: 50%;
}

#department {
    width: 50%;
}

#upload-image {
    border: 1px solid black;
}

#formFileLg {
    width: 95%;
}

#submit-button {
    margin-top: 1vmax;
    margin-bottom: 1vmax;
    width: 95%;
}